.header {
    background-color: #28a745;
    color: white;
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
}

.card-body ul {
    padding-left: 0;
}
.bg-cover { 
    background-size: cover;
     background-position: center; 
     padding: 80px 0; 
}